body {
    background: #eee;
}

.hide {
    display: none !important;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0f0f0f;
}

.header__menu {
    position: relative;
}

.header__menu .menu__btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__menu .menu__btn svg {
    width: 25px;
    height: 25px;
}

.header__menu .menu__list {
    margin: 0;
    padding: 10px 20px;
    list-style-type: none;
    border-radius: 4px;
    background: #e2e2e2;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: menu-showing .3s;
}

.header__menu .menu__link {
    font-size: 14px;
    line-height: 16px;
    color: #000;
    text-decoration: none;
}

@keyframes menu-showing {
    from {
        transform: translateY(95%);
    }
}

/* Прописать стили для блока info и portifolio нужно самостоятельно */
/* Добавление стилей для блока "О себе" */
.info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.info__title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.info__fullname {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.info__nickname {
    font-size: 16px;
    color: #0077B5;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.info__github {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.info__age {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* Стили для блока "Портфолио" */
.portfolio {
    margin-top: 20px;
}

.portfolio__btn {
    background: #0077B5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.portfolio__btn svg {
    margin-left: 5px;
}

/* Стили для содержимого блока "Портфолио" */
#portfolioContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Скрытие блока "Портфолио" по умолчанию */
#portfolioContent.hide {
    display: none;
}
